<h1>Account</h1>
<img id="preview" src="/public/images/vennster-logo.png" />
<input id="file-input" type="file" />

<form action="/account" method="POST">
  <input
    type="hidden"
    id="profile-image"
    name="profile-image"
    value="/public/images/vennster-logo.png"
  />
  <button>Submit</button>
</form>
