<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/public/css/style.css" rel="stylesheet" />
        <link href="/public/css/navbar.css" rel="stylesheet" />
        <link href="/public/css/form.css" rel="stylesheet" />
        <script src="/public/scripts/toggle-menu.js" defer></script>
        <script src="/public/scripts/upload-file.js" defer></script>
        <script src="/public/scripts/search.js" defer></script>
        <title><%= title %> | Vennster</title>
    </head>
    <body>
        <%- include("header") %> <%- include(main) %>
    </body>
</html>
