<img id="cover-image" src="<%= coverImage %>"></img>
<img
  id="profile-image"
  src="<%= profileImage %>"
></img>
<h1 class="name"><%= title %></h1>
<a href="/edit-profile">Edit Profile</a>
<h2>Posts</h2>
<form>
  <select></select>
  <textarea></textarea>
  <button>Create post</button>
</form>
