<h1>Search</h1>
<form id="mobile-search" class="form" action="/search" method="GET">
    <input class="form__input" name="q" placeholder="Search" type="text" />
    <button class="form__button">Go</button>
</form>
<% if (results.length < 1) { %>
<p>No results.</p>
<% } %> <% for (i = 0; i < results.length; i++) { %>
<p><%= results[i]["name"] %></p>
<% } %>
