.navbar {
  --height: 50px;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--height);
  background-color: var(--primary);
}

.navbar .logo,
.navbar .logo__a,
.navbar .logo__img {
  display: inline-block;
  height: calc(var(--height) - 10px);
  width: calc(var(--height) - 10px);
}

.navbar .logo {
  margin: 5px 10px;
}

.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: var(--height);
  right: -100vw;
  background-color: var(--dark-grey);
  opacity: 0;
  transition: right 0.3s ease-out, opacity 0s 0.3s;
}

.menu--open {
  opacity: 1;
  right: 0;
  transition: right 0.3s ease-out;
}

.search {
  display: none;
  position: absolute;
  display: inline-block;
  height: var(--height);
  top: 0;
}

.search__input {
  display: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.search__button {
  display: none;
  background-color: var(--secondary);
}

.toggler {
  background-color: transparent;
  border: none;
  outline: none;
  float: right;
  height: calc(var(--height) - 10px);
  margin: 5px 10px;
}
