@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #800080;
    --secondary: #008080;
    --light-grey: #888888;
    --dark-grey: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    font-size: 12pt;
}

body {
    background-color: var(--dark-grey);
}

h1 {
    color: white;
    text-align: center;
    font-size: 24pt;
    font-weight: 400;
    margin-top: 60px;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:visited {
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
}

.white {
    color: white;
}

.center {
    text-align: center;
}

#profile-image {
    --size: 100px;
    display: block;
    height: var(--size);
    width: var(--size);
    margin: auto;
    border-radius: calc(var(--size) / 2);
}

#cover-image {
    display: block;
    max-width: 80vw;
    height: auto;
    margin: 60px auto -50px auto;
}

.name {
    margin: 10px;
}

#edit-profile {
    text-align: center;
}

#edit-profile::before,
#edit-profile::after {
    content: "";
    display: block;
    width: 80vw;
    max-width: 1000px;
    margin: 5px auto;
    border-bottom: 1px solid white;
}

#preview {
    display: block;
    border-radius: 50px;
    margin: auto;
}

#file-input {
    display: block;
    margin: 5px auto;
    width: 220px;
}
