<h1>Reset Password</h1>
<form class="form" action="/reset-password" method="POST">
    <input class="form__input" name="email" placeholder="Email" type="email" />
    <button class="form__button">Send</button>
</form>
